.services-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Align items to the top of the container */
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  flex: 1; /* Allow services-container to take up available space */
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-medium {
  font-size: 1rem;
  font-weight: bold;
  color: #777;
  margin-bottom: 10px;
}

.service-description {
  font-size: 0.9rem;
  color: #555;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 90%;
    margin-bottom: 20px;
  }
}
